body {
	background-color: #AFEEEE;
}

h1 {
	padding: 20px;
	background-color: orange;
	width: 350px;
	text-align: center;
}

#para {
	height: 300px;
	width: 400px;
	background-color: #EEE8AA;
}

.winner {
	height: 100px;
	width: 100px;
	background-color: #FFE4C4;
	margin-top: 100px;
}

.loser {
	height: 100px;
	width: 100px;
	background-color: #FFE4C4;
}

.computer {
	height: 100px;
	width: 100px;
	background-color: teal;
}

.crystal1 {	
	height: 100px;
	width: 100px;
	background-color: red;
	float: left;
}

.crystal2 {
	height: 100px;
	width: 100px;
	background-color: green;
	float: left;
}

.crystal3 {
	height: 100px;
	width: 100px;
	background-color: blue;
	float: left;
}

.crystal4 {
	height: 100px;
	width: 100px;
	background-color: yellow;
	float: left;
}

#yourScore {
	height: 100px;
	width: 100px;
	background-color: #8A2BE2;
	clear: both;
}