body {
	background-color: #A9A9A9;
}

h1 {
	background-color: #9932CC;
	text-align: center;
	border: solid black 2px;
	margin-bottom: 10px;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    border-radius: 7px;
}

#para {
	height: 225px;
	background-color: #87CEEB;
	text-align: center;
	margin-bottom: 10px;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    border-radius: 7px;
    font-weight: bold;
}

.winner {
	height: 60px;
	width: 100px;
	background-color: #00FFFF;
	text-align: center;
	margin-bottom: 10px;
    width: 25%;
    border: 3px solid black;
    padding: 10px;
    border-radius: 7px;
}

.loser {
	height: 60px;
	background-color: #00FFFF;
	text-align: center;
	margin-bottom: 10px;
    width: 25%;
    border: 3px solid black;
    padding: 10px;
    border-radius: 7px;

}

.computer {
	height: 60px;
	background-color: #7FFF00;
	text-align: center;
	margin-bottom: 10px;
    width: 25%;
    border: 3px solid black;
    padding: 10px;
    border-radius: 7px;

}

.crystal {	
	height: 100px;
	width: 100px;*/
	text-align: center;
	margin-bottom: 10px;
    border: 3px solid black;
    border-radius: 7px;
	
}


.yourScore {
	height: 60px;
	background-color: #8A2BE2;
	text-align: center;
	clear: both;
	font-size: 18px;
	margin-bottom: 10px;
    width: 25%;
    border: 3px solid black;
    padding: 10px;
    border-radius: 7px;
}